/* Estilos para o corpo da página */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  
  background-color: #fff;
  margin: 0;
  padding: 0;
}
body p{
  font-family: 'Rubik', sans-serif;
}

body h2{
  font-family: 'Montserrat', sans-serif;
}
/* Estilos para a navegação */


.container-topo {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #3773d9;
  padding: 1px;

}

.container-topo h1 {
  position: absolute;
  left: 70px;
}

nav {
 
 
  padding: 5px 1px;
  display: flex;
  align-items: center;

}

.IMG-top {
  width: 80px;
  position:absolute;
  left: 0px;
}

nav a {
  color: #000;
  text-decoration: none;
  margin-right: 10px;
  position: relative;
  left: 220px;
  background-color: #c1dcf31e;
  padding: 2px;
  border-radius: 10%;
  font-family: 'Rubik', sans-serif;
}



/* Estilos para o cabeçalho */
.container-cabeçalho {
  background-image: url(Imagens/fundo4.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  text-align: left;
  padding: 100px 0;
  position: relative;
  display: flex; 
}

.container-cabeçalho h2 {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 2em;
  color: #000;
  max-width: 50%;

}

.container-cabeçalho p {
  position: absolute;
  bottom: 80px;
  left: 40px;
  font-size: 1.2em;
  max-width: 500px;
  margin: 0 auto;
  color: #000;
}
.back {
  position: relative;
  top: 0px;
  left: 650px;
  max-width: 35%;
  border-radius: 10px;

}


/* quem somos */

.container-sobre {
  position: relative;
  display: flex;
  padding-bottom: 630px;
}

.container-sobre h2{
  position: absolute;
  top: 0px;
  left: 40px;
  background-color: #c1dcf3;
  padding: 2px;
  border-radius: 10%;
}

.container-sobre p{
  position: absolute;
  top: 60px;
  left: 40px;
  width: 40%;
  text-align: justify;
}

.e1 img{
  position: absolute;
  top: 260px;
  left: 80px;
  width: 35%;
  border-radius: 5%;
}

.e1 p{
  position: absolute;
  top: 60px;
  left: 580px;
}

.e2 img{
  position: absolute;
  width: 35%;
  top: 260px;
  right: 80px;
  border-radius: 5%;
}

.container-servicos{
  width: auto;
  position: relative;
  background-color: #c1dcf3;
}


/*serviços*/
.container-servicos{
  position: relative;
  display: flex;
}

.servico-a1{
  position: relative;
  top: 5px;
  left: 40px;
  max-width: 30%;
  text-align: center;
}

.servico-a2{
  position: relative;
  top: 5px;
  left: 80px;
  max-width: 20%;
  text-align: center;
  padding-right: 2%;
  padding-left: 2%;
}

.servico-a3{
  position: relative;
  top: 5px;
  right: -120px;
  max-width: 30%;
  text-align: center;
}

.container-servicos h2{
  font-size: 1.2em;
}
/* Estilos portfólio */

.container-portifolio{
  position: relative;
  display: block;

  
}
.projeto-a1{
  position: relative;
}
.projeto-a1 h2{
  position: absolute;
  top: 0px;
  left: 40px;
}

.projeto-a1 p{
  position: absolute;
  top: 50px;
  left: 40px;
  max-width: 60%;
  text-align: justify;
}
.projeto-a1 img {
  position: absolute;
  top: 20px;
  right: 80px;
  max-width: 25%;
  border: 2px solid #333;
}

.projeto-a2{
  position: relative;
  box-sizing: unset;
}

.projeto-a2 h2{
  position: absolute;
  right: 120px;
  top: 280px;
}

.projeto-a2 p{
  position: absolute;
  top: 330px;
  right: 80px;
  max-width: 60%;
}

.projeto-a2 img {
  position: relative;
  left: 40px;
  top: 200px;
  max-width: 25%;
  border: 2px solid #333;
  
}

.projeto-a3{
  position: relative;
  padding-bottom: 450px;
}
.projeto-a3 p{
 position: absolute;
 left: 40px;
 bottom: 150px;
}

.projeto-a3 img {
  position: absolute;
  bottom: 0px;
  right: 80px;
  max-width: 25%;
  border: 2px solid #333;
}

/*estilo contatos*/

.container-contatos{
  text-align: center;
  background-color: #c1dcf3;
  padding-bottom: 50px;
}

/* Estilos para links*/
.container-contatos a {
  color: blue;
  text-decoration: none;
  border: 2px solid #000;
  border-radius:5px ;
  background-color: #fff;
  padding: 5px;
  box-shadow: inset;
  
 

}

a:hover {
  text-decoration:dotted;
}